<!DOCTYPE html>
<html>
  <head>
    <title>Modern Web Development Labs Workspace</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
  </head>
  <body>
    <h1>Modern Web Development Labs 2-4 Workspace</h1>
    <p>This is the web application we will be using to complete labs 2-4.</p>
    <p>Click on a lab link to navigate to the page:</p>
    <ul>
    	<li>
    		<a href="/lab2">Lab 2</a>
    	</li>
    	<li>
    		<a href="/lab3">Lab 3</a>
    	</li>
    	<li>
    		<a href="/lab4">Lab 4</a>
    	</li>
    </ul>
  </body>
</html>