<!DOCTYPE html>
<html>
  <head>
    <title>Modern Web Dev. - Lab 3 Workspace</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style type="text/css">
      #addEmployeeForm {
        margin: 50px 0px;
      }
    </style>
  </head>
  <body>
    <h1>Modern Web Dev. - Lab 3 Workspace</h1>
    <div id="employeeManagementView">
      <h3>Employee List</h3>
      <table border="1">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Rank</th>
            <th>Title</th>
            <th>Delete?</th>
          </tr>
        </thead>
        <tbody id="employeeTableBody">
          <!-- Example Row -->
          <!-- 
          <tr>
            <td>_id</td>
            <td>name</td>
            <td>email</td>
            <td>rank</td>
            <td>title</td>
          </tr> 
          -->
        </tbody>
      </table>
      <form id="addEmployeeForm" name="form1">
        <h3>Add New Employee</h3>
        <label for="newName">Name:</label>
        <input id="newName" type="text"></input>
        <label for="newEmail">Email:</label>
        <input id="newEmail" type="email"></input>
        <label for="newRank">Rank:</label>
        <input id="newRank" min="1" type="number"></input>
        <label for="newTitle">Title:</label>
        <input id="newTitle" type="text"></input>
        <button type="submit">Add</button>
      </form>
    </div>
    <!-- Load JS Dependencies -->
    <script type="text/javascript" src="//codeorigin.jquery.com/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.0.0/backbone-min.js"></script>
    <script type="text/javascript" src="/javascripts/lab3/main.js"></script>

    <!-- HTML Templates -->
    <script id="" type="text/template">
      <tr>
        <td><@= _id @></td>
        <td><@= name @></td>
        <td><@= email @></td>
        <td><@= rank @></td>
        <td><@= title @></td>
        <td><button type="button">Delete</button></td>
      </tr>
    </script>
  </body>
</html>